*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin


# Profiling output
*_profile.txt
*.nsys-rep

/vector_add/vector_add
/vector_reduce/vector_reduce
/matrix_reduce/matrix_reduce
/matrix_transpose/matrix_transpose_v1
/matrix_transpose/matrix_transpose_v2
/matrix_transpose/matrix_transpose_v3

/matrix_multiplication/matmul_v1